---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import Comments from "@/components/Comments.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;

const tags = post.data.tags;
const posts = await getCollection("blog");
const similarPosts = posts
  .filter((p) => p.data.tags?.some((tag) => tags?.includes(tag)))
  .filter((p) => p.id !== post.id);

const { Content } = await post.render();
---

<style></style>

<BlogPost {...post.data}>
  <Content />

  <div class="mt-10">
    <hr class="border-4 border-primary" />
    {
      similarPosts.length > 0 && (
        <section class="mt-2">
          <h2 class="mt-8">似た内容の記事</h2>
          <ul>
            {similarPosts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}`} class="flex *:mr-4">
                  <div>{post.data.title}</div>
                  <div>
                    {post.data.pubDate.toLocaleDateString("ja-jp", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </div>
                </a>
              </li>
            ))}
          </ul>
        </section>
      )
    }
    <Comments />
  </div>
</BlogPost>
