---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import BlogPostCard from "@/components/BlogPostCard.astro";
import { JSDOM } from "jsdom";
import ViewMoreButton from "@/components/ViewMoreButton.astro";

const blogs = (await getCollection("blog")).sort(
  (a, b) => (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);

const fetchTrapBlogs = async () => {
  const res = await fetch("https://trap.jp/author/ikura-hamu");
  const text = await res.text();
  const doms = new JSDOM(text);
  const articleElements =
    doms.window.document.getElementsByClassName("article");

  type Blog = {
    title: string;
    url: string;
    pubDate: Date;
    heroImage: string;
  };

  const blogs: Blog[] = [];

  for (let i = 0; i < articleElements.length; i++) {
    const articleElement = articleElements[i];
    const dateStrJp =
      articleElement.getElementsByTagName("small")[0]?.textContent;
    const dateStr = dateStrJp
      ?.replace("年", "-")
      .replace("月", "-")
      .replace("日", "");
    const article: Blog = {
      title:
        articleElement.getElementsByTagName("strong")[0]?.textContent ?? "",
      url: `https://trap.jp${articleElement.getAttribute("href")}`,
      pubDate: new Date(dateStr ?? ""),
      heroImage:
        articleElement
          .getElementsByTagName("source")[0]
          ?.getAttribute("srcset") ?? "",
    };
    blogs.push(article);
  }

  return blogs;
};

const trapBlogs = await fetchTrapBlogs();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }

      main {
        max-width: calc(100% - 2em);
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul class="">
          {
            blogs.map((post) => (
              <li>
                <BlogPostCard post={post} />
              </li>
            ))
          }
        </ul>
      </section>
      <hr class="border-4 border-primary py-4" />

      <section>
        <h2>traPでのブログ (直近12件のみ)</h2>
        外部ページに飛びます
        <ul class="">
          {
            trapBlogs.map((post) => (
              <li>
                <BlogPostCard post={post} />
              </li>
            ))
          }
        </ul>
        <ViewMoreButton
          extraContent={{
            icon: "ri:external-link-fill",
            name: "traP 公式ページ",
            url: "https://trap.jp/author/ikura-hamu",
          }}
        />
      </section>
      <Footer />
    </main>
  </body>
</html>
