---
import { Image } from "astro:assets";

import Layout from "../layouts/BlogPost.astro";
import Skills from "../components/Skill.astro";
import Works from "../components/Work.astro";
import Career from "@/components/Career.astro";
import Other from "@/components/Other.astro";
import iconImage from "@/images/icon.png";

const grade =
  new Date().getFullYear() - 2021 - (new Date().getMonth() > 3 ? 0 : 1);
---

<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>

<Layout
  title="About Me"
  description="いくら・はむについて"
  pubDate={new Date("2024/3/1")}
>
  <div class="flex flex-col justify-center items-center">
    <Image
      src={iconImage}
      alt="いくら・はむのアイコン"
      width={200}
      height={200}
    />
    <h2>いくら・はむ</h2>
    <h3>@ikura-hamu</h3>
  </div>
  <ul>
    <li>東京工業大学 学士{grade}年 工学院情報通信系</li>
    <li>東京工業大学デジタル創作同好会traP</li>
  </ul>

  <div class="py-1">
    <p>
      Go言語によるWebバックエンドの開発を中心に、インフラやWebフロントエンドなどにも少し取り組んでいます。
    </p>
  </div>

  <div class="my-4">
    <h3 id="Skills"><a href="#Skills" class="text-dark">Skills</a></h3>
    <Skills />
  </div>

  <div class="my-4">
    <h3 id="Products"><a href="#Products" class="text-dark">Products</a></h3>
    <Works
      workType="products"
      extraContent={{
        name: "GitHub @ikura-hamu",
        icon: "codicon:github",
        url: "https://github.com/ikura-hamu",
      }}
    />
  </div>

  <div class="my-4">
    <h3 id="Slides"><a href="#Slides" class="text-dark">Slides</a></h3>
    <Works
      workType="slides"
      extraContent={{
        name: "GitHub Pages",
        icon: "ri:slideshow-fill",
        url: "https://ikura-hamu.github.io/slides/",
      }}
    />
  </div>

  <div class="my-4">
    <h3 id="Career"><a href="#Career" class="text-dark">Career</a></h3>
    <Career />
  </div>

  <h3 id="Other"><a href="#Other" class="text-dark">Other</a></h3>

  <Other />
</Layout>
