---
import Layout from "../layouts/BlogPost.astro";
import Skills from "../components/Skill.astro";
import Works from "../components/Work.astro";
import Career from "@/components/Career.astro";

const grade =
  new Date().getFullYear() - 2021 - (new Date().getMonth() > 3 ? 0 : 1);
---

<Layout
  title="About Me"
  description="いくら・はむについて"
  pubDate={new Date("2024/1/26")}
  heroImage="/src/images/icon.png"
>
  <h2>いくら・はむ</h2>
  <h3>@ikura-hamu</h3>

  <ul>
    <li>東京工業大学 学士{grade}年 工学院情報通信系</li>
    <li>東京工業大学デジタル創作同好会traP</li>
  </ul>

  <div class="py-4">
    <p>
      Go言語によるWebバックエンドの開発を中心に、インフラやWebフロントエンドなどにも少し取り組んでいます。
      好きなものは自動化で楽をすることとテストで安心することです。
    </p>
  </div>

  <h3 id="Skills"><a href="#Skills">Skills</a></h3>
  <!--ここに言語とかのリストを置く-->
  <Skills />

  <h3 id="Products"><a href="#Products">Products</a></h3>
  <Works workType="products" />
  <!--作ったものリスト -->

  <h3 id="Slides"><a href="#Slides">Slides</a></h3>

  <Works workType="slides" />

  <h3 id="Career"><a href="#Career">Career</a></h3>

  <Career />

  <h3 id="Other"><a href="#Other">Other</a></h3>
</Layout>
