---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>ようこそ</h1>
      <h2>すべての{" "}いくら{" "}と{" "}ハムを<br />愛する人々へ</h2>
      <img src="/src/images/icon.png" alt="ハム" />
    </main>
    <Footer />
  </body>
</html>
