---
import { getEntry } from "astro:content";
import { replaceURL } from "@/util/url";

const allCareers = await getEntry("career", "career");

const sortedCareers = allCareers
  ? allCareers.data
      .map((career) => {
        return {
          organization: career.organization,
          start: career.start,
          end: career.end,
          description: replaceURL(career.description),
        };
      })
      .sort((a, b) => a.start.getTime() - b.start.getTime())
  : [];
---

<div class="flex flex-col gap-s5">
  {
    sortedCareers.map((career) => (
      <div class="flex flex-col gap-s2">
        <h4>{career.organization}</h4>
        <div class="text-base text-gray-400">
          {career.start.toLocaleDateString("ja-jp")} -{" "}
          {career.end ? career.end.toLocaleDateString("ja-jp") : "現在"}
        </div>
        <p set:html={career.description} class="m-0" />
      </div>
    ))
  }
</div>
