---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} @ikura-hamu. All rights reserved.
  <div class="social-links">
    <a href="https://twitter.com/ikura_hamu" target="_blank" title="X(Twitter)">
      <span class="sr-only">X @ikura_hamu</span>
      <Icon name="ri:twitter-x-fill" width={32} height={32} />
    </a>
    <a href="https://github.com/ikura-hamu" target="_blank" title="GitHub">
      <span class="sr-only">GitHub @ikura-hamu</span>
      <Icon name="codicon:github-inverted" width={32} height={32} />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: var(--text-muted);
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--text-muted);
  }
  .social-links a:hover {
    color: var(--text-color);
  }
</style>
