---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";

const allSkills = await getEntry("skill", "skills");

const skills = allSkills.data.map((skill) => {
  let levelStarts = "";
  for (let i = 0; i < 3; i++) {
    if (i < skill.level) {
      levelStarts += "★";
      continue;
    }
    levelStarts += "☆";
  }
  return {
    name: skill.name,
    description: skill.description,
    level: levelStarts,
    icon: skill.icon,
  };
});
---

<div class="grid grid-cols-[repeat(auto-fill,_minmax(240px,_1fr))]">
  {
    skills.map((skill) => (
      <div class="border-2 border-blue-800 rounded-md my-1 flex h-[120px] min-w-60 max-w-80">
        <div class="grid m-1">
          <Icon name={skill.icon} size={70} />
          <div class="text-blue-800 text-lg justify-self-center ">
            {skill.level}
          </div>
        </div>
        <div class="m-1">
          <h4>{skill.name}</h4>
          <p class="text-sm">{skill.description}</p>
        </div>
      </div>
    ))
  }
</div>
